@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* styles/globals.css */

/*{
  border: solid 1px red;
  border-color: red;
}
*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'sans-serif', Arial, Helvetica, sans-serif, ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
